.main-page {
    justify-content: center;
    text-align: center;
  }
  
  .welcome-title {
    margin-bottom: 48px;
  }
  
  h1 {
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
  }
  
  button {
    justify-content: center;
    font-size: 1.2em;
    // padding: 5px 10px 5px 10px;
  }
  
  // button
  .btn-container {
    text-align: center;
    color: white;
  }
  