@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  background-color: steelblue;
  border-radius: 7rem;
  // background-color: rgba(185, 162, 162, 0.6);
}

.app-title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

button {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  -webkit-text-stroke: 1px black;
  letter-spacing: 1px;
  color: black;
  // text-decoration: underline;
}

.nav-links {
  margin-right: 35px;
}

@media only screen and (max-width: 464px) {
  .nav-links {
    margin-right: -5px;
  }
  .app-title {
    margin-left: 0px;
  }
  button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 370px) {
  .nav-links {
    margin-left: 140px;
  }
}
